body{
    margin: 0 10%;
    background: linear-gradient(-180deg, white, white, rgb(169, 229, 231));
    padding-top: 1%;
}

/*INIZIO HEADER*/

.title {
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
    margin-left: 32rem;
    width: 27%;
}

#Date{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Login {
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin-left: auto;
    background-color: rgb(22, 52, 141);
    margin-right: 10px;
}

.Login:hover {
    color: rgb(79, 154, 189);
}

/*FINE HEADER*/
/*-------------------------------------------------*/

/*INIZIO NAVBAR*/

.navbar {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 210px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar:hover{
    color: rgb(118, 117, 117);
}

hr {
    margin: 2px 0;
}

/*FINE NAVBAR*/
/*-------------------------------------------------*/

/*MAIN*/
/*FIRST FLEXBOX WITH 4 ARTICLES*/
#Container-1{
    display: flex;
    justify-content: space-between;
    height: 38em;
    margin-top: 10px;
}
#Container-1 a{
    text-decoration: none;
    color: black;
}
.Div-1{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 30%;
    margin-top: -20px;
}
.Div-1 h2, #P-1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 180%;
    margin-top: 30px;
}
.Div-1 img {
    margin-left: 420px;
    margin-top: -290px;
}
.Div-2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 40%;
    margin-top: -20px;
}
.Div-2 hr {
    width: 0;
    height: 605px;
    margin-left: -12px;
    margin-top: -590px;
}
.IMG-1 hr {
    width: 233%;
    margin-left: -438px;
}
#hr-2{
    width: 195%;
}
.Div-1-h2-p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 190%;
    margin-top: -20px;
}
/*END FIRST FLEXBOX WITH 4 ARTICLES*/

/*SECOND CONTAINER WITH 2 ARTICLES*/
#Container-2{
    display: flex;
    height: 32em;
    margin-top: 25px;
}
#Container-2 h2{
    font-size: 20px;
    margin-top: -20px;
}
.Div-3{
    text-align: center;
    margin-left: -60px;
}
.Div-4 {
    margin-top: -35px;
    text-align: center;
}
#hr-3 {
    width: 0;
    height: 500px;
    margin-left: 597px;
    margin-top: -500px;
}

/*THIRD CONTAINER*/
#Container-3{
    justify-content: center;
    display: flex;
    height: 30em;
    margin-top: -1rem;
}
.Div-5 h3{
    margin-left: 3rem;
    width: 80%;
}
.Div-5 p {
    margin-top: -10px;
    margin-left: 3rem;
    width: 80%;
}
.Div-6 h3 {
    margin-left: 2rem;
    width: 90%;
}
.Div-5 hr {
    width: 80%;
    margin-left: 50px;
}
.Div-6 hr {
    width: 80%;
    margin-left: 30px;
}
#hr-6{
    width: 0;
    height: 29rem;
    margin-left: 1rem;
    margin-top: -18rem;
}









/*FINE MAIN*/


/*INIZIO FOOTER*/

footer {
    margin-top: 10px;
    background: linear-gradient(30deg, rgba(206, 209, 182, 0.733), rgb(200, 190, 190), rgb(213, 206, 206));
    clear: both;
    padding: 10px;
}

.footer-container{
    text-align: center;
    padding: 20px;
}

.footer1 li {
    display: inline;
    font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman', serif;
    margin: 8%;
    text-decoration: none;
}

.footer1 a {
    text-decoration: none;
    color: black;
}

.footer1 a:hover{
    color: hsl(230, 24%, 43%);
}

.Mainfooter a{
    display: block;
    margin-top: -20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
}

.afterfooter {
    padding-top: 2%;
    font-size: 80%;
    text-align: center;
    padding-bottom: 3%;
    text-decoration: none;
}

.afterfooter a {
    text-decoration: none;
    color: black;
}

/*FINE FOOTER*/

@media (min-width: 1920px) and (max-width: 1920px) {
    .title {
        margin-left: 33.5rem;
    }
}
