body{
    margin: 0 10%;
    background: linear-gradient(-180deg, white, white, rgb(169, 229, 231));
    padding-top: 1%;
}

/*INIZIO HEADER*/
header {
    margin-top: -17px;
    width: 80%;
    position: fixed;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    z-index: 5;
}
#hr-first{
    margin-top: 58px;
}
#title {
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
    margin-left: 32rem;
    width: 40%;
}
#title:hover{
    color: rgb(89, 99, 104);
}

#Date{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Login {
    float: right;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin-left: auto;
    background-color: rgb(22, 52, 141);
    margin-right: 10px;
    margin-top: 5px;
}

.Login:hover {
    color: rgb(79, 154, 189);
}

/*FINE HEADER*/
/*-------------------------------------------------*/

/*INIZIO NAVBAR*/

.navbar {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 210px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar:hover{
    color: rgb(118, 117, 117);
}

hr {
    margin: 2px 0;
}

/*FINE NAVBAR*/
/*-------------------------------------------------*/

/*MAIN*/
/*FIRST FLEXBOX WITH 4 ARTICLES*/
#Container-1{
    display: flex;
    justify-content:space-between;
    height: 38em;
    margin-top: 20px;
}
#Container-1 a{
    text-decoration: none;
    color: black;
}
#readMore{
    text-decoration:underline;
    cursor: pointer;
    width: 18%;
}
#readMore:hover{
    color: rgb(118, 117, 117);
}
#paragraphs{
    visibility: hidden;
}
#hr-1{
    margin-top: 40px;
}
.Div-1{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 30%;
    margin-top: -20px;
}
.Div-1 p {
    font-size: 1rem;
}
.Div-1 h2, #P-1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 180%;
    margin-top: 30px;
}

.Div-2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 40%;
    margin-top: -20px;
    
}
.Div-2 img{
    width: 100%;
    height: 62%;
}
.Div-2 hr {
    width: 0;
    height: 635px;
    margin-left: -12px;
    margin-top: -620px;
}
.IMG-1 hr {
    width: 233%;
    margin-left: -438px;
    margin-top: 45px;
}
#hr-2{
    width: 195%;
}
.Div-1-h2-p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 190%;
    margin-top: -20px;
}
/*END FIRST FLEXBOX WITH 4 ARTICLES*/

/*SECOND CONTAINER WITH 2 ARTICLES*/
#Container-2{
    display: flex;
    height: 32em;
    margin-top: 50px;
}
#Container-2 h2{
    font-size: 20px;
    margin-top: -20px;
}
.Div-3{
    text-align: center;
    margin-left: -60px;
}
.Div-4 {
    margin-top: -35px;
    text-align: center;
}
#hr-3 {
    width: 0;
    height: 500px;
    margin-left: 597px;
    margin-top: -500px;
}

/*THIRD CONTAINER*/
#Container-3{
    justify-content: center;
    display: flex;
    height: 30em;
    margin-top: -1rem;
}
.Div-5 h3{
    margin-left: 3rem;
    width: 80%;
}
.Div-5 p {
    margin-top: -10px;
    margin-left: 3rem;
    width: 80%;
}
.Div-6 h3 {
    margin-left: 2rem;
    width: 90%;
}
.Div-5 hr {
    width: 80%;
    margin-left: 50px;
}
.Div-6 hr {
    width: 80%;
    margin-left: 30px;
}
#hr-7{
    margin-top: 15px;
}
#hr-6{
    width: 0;
    height: 29rem;
    margin-left: 1rem;
    margin-top: -18rem;
}
#Container-3 img {
    cursor: pointer;
}
.modal-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 59vh;
    width: 79vw;
    margin-top: 86rem;
    margin-left: 10.6rem;
    background-color: hsla(200, 4%, 14%, 0.8);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/*NewContainer and new-h1 CREATED THROUGH JAVASCRIPT*/
.NewContainer {
display: flex;
height: 20rem;
border-radius: 10px;
margin-top: 1rem;
justify-content: center;
background-image: url(journal/journal.jpg);
}

.new-h1{
    width: 55%;
    text-align: center;
    background-color: white;
    margin-top: 140px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

#GamesContainer{
    display: flex;
    justify-content: center;
}
#GamesContainer a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    width: 8.5%;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    color: black;
    background-color: beige;
}
#GamesContainer a:hover {
    background-color:antiquewhite;
}
/*FINE MAIN*/


/*INIZIO FOOTER*/

footer {
    margin-top: 10px;
    background: linear-gradient(30deg, rgba(206, 209, 182, 0.733), rgb(200, 190, 190), rgb(213, 206, 206));
    clear: both;
    padding: 10px;
}

.footer-container{
    text-align: center;
    padding: 20px;
}

.footer1 li {
    display: inline;
    font-family: 'Cambria, Cochin, Georgia, Times, Times New Roman', serif;
    margin: 8%;
    text-decoration: none;
}

.footer1 a {
    text-decoration: none;
    color: black;
}

.footer1 a:hover{
    color: hsl(230, 24%, 43%);
}

.Mainfooter a{
    display: block;
    margin-top: -20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
}

.afterfooter {
    padding-top: 2%;
    font-size: 80%;
    text-align: center;
    padding-bottom: 3%;
    text-decoration: none;
}

.afterfooter a {
    text-decoration: none;
    color: black;
}

/*FINE FOOTER*/


/*--------------------------------------------------------------------------
/*MEDIA MOBILE*/
@media (min-width: 1920px) and (max-width: 1920px) {
    .title {
        margin-left: 33.5rem;
    }
}

@media (min-width: 320px) and (max-width: 950px) {
    .Login{
        text-align: center;
        margin-right: 1.5rem;
    }
    .title {
        padding-top: 45px;
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        color: black;
        margin-left: 2.5rem;
        width: 80%;
    }
    #Date{
        margin-top: 30px;
        text-align: center;
    }
    .navbar{
        margin-left: 140px;
    }


    #Container-1{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .Div-1 {
        width: 100%;
    }
    .Div-2{
        width: 100%;
    }
    .Div-1 h2{
        width: 110%;
    }
    #P-1{
        width: 110%;
    }
    .Div-1-h2-p{
        width: 110%;
    }
    .Div-2{
        width: 110%;
    }
    .Div-2 img{
        width: 390px;
        height: 360px;
    }
    #Container-1 hr{
        width: 0px;
        height: 0px;
    }
    .hr-2{
        width: 0px;
    }

    

    #Container-2{
        align-items: center;
        flex-direction: column;
        margin-top: 83rem;
    }
    #Container-2 img {
        margin-left: -25px;
        width: 360px;
        height: 360px;
    }
    #Container-2 h2 {
        margin-left: 20px;
    }
    #hr-3{
        width: 22rem;
        height: 0px;
        margin-left: -15px;
        margin-top: 20px;
    }
    .Div-3{
        width: 90%;
        margin-left: 20px;
    }
    .Div-4{
        margin-left: 25px;
        width: 80%;
        margin-top: 10px;
    }

    
    #SportsCoverage{
        margin-top: 50rem;
        margin-left: 5rem;
    }

    #Container-3{
        flex-direction: column;
        margin-top: 10rem;
    }
    #Container-3 img{
        width: 360px;
    }
    #hr-6{
        height: 0px;
        width: 0px;
        margin-left: 100px;
    }


    #GamesContainer{
        margin-top: 30rem;
        width: 200%;
        margin-left: 100px;
    }


    .footer-container{
        margin-top: 5rem;
    }
    .Mainfooter a{
        margin-top: -90px;
    }
    .footer1{
        width: 10%;
        margin-left: 50px;
    }
}
